<%- include partials/header.ejs %>
<%- include partials/navbar.ejs %>
  <div id="map" class="position-absolute vw-100 vh-100"></div>
  <script>
    var picnicSpots = <%- picnicSpots %>;
  </script>
  <script src="/javascripts/index.js"></script>
<%- include partials/footer.ejs %>
