<%- include partials/header.ejs %>
<%- include partials/navbar.ejs %>
  <div id="map-wrapper">
    <div id="map" class="position-absolute vw-100 vh-100"></div>
    <button type="button" class="btn btn-secondary position-absolute m-2 bottom-right" onclick="selectSpot()">Select spot</button>
  </div>
  <div id="form-wrapper">
    <div class="container py-4 mt-5 pt-5 text-center">
      <h1>Spot info</h1>
      <div class="row justify-content-center mt-4">
        <div class="col-4 ">
          <form action="/post" method="post">
            <div class="form-group">
              <input type="text" class="form-control" name="longitude" id="longitude" placeholder="Longitude" required readonly>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="latitude" id="latitude" placeholder="Latitude" required readonly>
            </div>
            <div class="form-group">
              <input type="range" min="0" max="5" class="form-control" name="rating" id="rating" placeholder="Rating" required>
            </div>
            <div class="form-group">
              <textarea maxlength="100" class="form-control" name="review" id="review" placeholder="Review" required></textarea>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
  var picnicSpots = <%- picnicSpots %>;
  </script>
  <script src="/javascripts/post.js"></script>

<%- include partials/footer.ejs %>
